body{
    background-color: var(--headingColor); 
    color: var(--white);
    font-family: "Poppins", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.2;
    z-index: -1;
}


html body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

/* ----------------Home ----------------- */

button {
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}


.primaryBtn{
    background-color: transparent;
    border: 2px solid var(--primaryColor)
}

.primaryBtn:hover{
    background-color: var(--primaryColor);
    transition: 0.5s;
}


.flex {
    display: flex;
}
.hero{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../src/assets/18筹委合照.png");
    background-size: cover;
    z-index: -2;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    overflow-x: hidden;

     /* Add gradient overlay */
     mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
     -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    
}

.heroContainer {
    max-width: 50%;
    margin: auto;
    height: 55%;
    text-align: center;
    background-color: rgba(125, 125, 146, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}


.hero h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--primaryColor);
}

.content {
    justify-content: center;
    position: relative;
    top: 0;

}

.title {
   display: flex;
   align-items: center;
   flex-direction: column; 
   line-height: 0.1px;
   gap: 1px;
   text-align: center;
   margin-bottom: -80px;
}

.title h1 {
    position: relative;
    display: inline-block;
    font-size: 10vh;
}

.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 120%;
    height: 6px;
    background-color: white;
    transform: translateX(-50%);
}

.title h3 {
    font-size: 4vh;
}

.card-container {
    background-image: url("/src/assets/IMG_7736.JPG");
    background-size: cover;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;

}

/* ----------------Home ----------------- */



