body{
    background-color: black; 
    color: var(--white);
    font-family: "Poppins", sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.2;
    z-index: -1;
}


html body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

/* ----------------Home ----------------- */

button {
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}


.primaryBtn{
    background-color: transparent;
    border: 2px solid var(--primaryColor)
}

.primaryBtn:hover{
    background-color: var(--primaryColor);
    transition: 0.5s;
}


.flex {
    display: flex;
}
.hero{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top: -90px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../src/assets/18筹委合照.png");
    background-size: cover;
    z-index: -2;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    overflow-x: hidden;

     /* Add gradient overlay */
     mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
     -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    
}

.heroContainer {
    max-width: 50%;
    margin: auto;
    height: 55%;
    text-align: center;
    background-color: rgba(125, 125, 146, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-container {
    margin: auto;
    animation: zoomIn 1s ease-in-out;


}


.hero h1 {
    font-size: 60px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(3, 12, 255, 0.337), rgba(17, 90, 235, 0.297), rgba(255, 255, 255, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}  
    

.content {
    justify-content: center;
    position: relative;
    top: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(12, 23, 88, 0.337),rgba(10, 45, 133, 0.297),rgba(0, 0, 0, 0.8));
         /* Add gradient overlay */
         mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
         /* -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%); */
    margin-bottom: -100px;

}

.title {
   display: flex;
   align-items: center;
   flex-direction: column; 
   line-height: 0.1px;
   gap: 1px;
   text-align: center;
   margin-bottom: 80px;
   animation: zoomIn 1s ease-in-out;

}

.title h1 {
    position: relative;
    display: inline-block;
    font-size: 10vh;
}

.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 120%;
    height: 6px;
    background-color: white;
    transform: translateX(-50%);
}

.title h3 {
    font-size: 4vh;
}

.card-container {
    background-image: url("/src/assets/IMG_7736.JPG");
    background-size: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 150px; /* Add spacing between elements */
}

.yuansu {
    margin-top: 300px;
}

.kcyxbz {
    margin-top: 200px;
}

.empty-space {
    height: 50vh;
    width: 100%;
}


/* ----------------Home ----------------- */


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}