.wrapper-youxi {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container-youxi  {
    position: relative;
    color: #fff;
    width: 580px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
}

/* add a dark overlay for hovering effect using ::before */
.card-container-youxi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/kecheng.png");
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.preview-text-youxi {
    position: absolute;
    top: 270px;
    left: 220px;
    font-size: 70px;
    color: #fff;
    text-shadow: 
    2px 2px 0 grey;
    transition: all 0.5s ease-in-out;

}


.card-container-youxi:hover::before{
    filter: brightness(0.3);
    /* opacity: 0.5; */
}

.card-container-youxi:hover .preview-text-youxi{
    transform: translateY(-250px) translateX(-190px);
    font-size: 35px;
    color: black;
    text-shadow: 
    -2px -2px 0 white,
    2px -2px 0 white,
    02px 2px 0 white,
    2px 2px 0 white;
}

.text-wrapper-youxi {
    position: absolute;
    top: 200px;
    left: 42px;
    font-size: 20px;
    line-height: 30px;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.card-container-youxi:hover .text-wrapper-youxi {
    opacity: 1;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}